<div ng-controller="ForwardsController">

    <md-card>

        <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
                <span>فهرست فورواردها</span>
                <div flex></div>
                <md-button class="md-icon-button" ng-click="load()">
                    <md-icon class="fa fa-lg fa-refresh" aria-label="بروزرسانی"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-table-container>
            <table md-table cellpadding="10" cellspacing="0" style="width: 100%;">
                <thead md-head>
                <tr md-row>
                    <th md-column style="width: 20px;">#</th>
                    <th md-column>مبدا</th>
                    <th md-column>مقصد</th>
                    <th md-column>دسترسی‌ها</th>
                    <th md-column style="width: 50px;"></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="frw in data.forwards track by $index" ng-class="{even: $even, odd: $odd}">
                    <td md-cell>{{$index+1}}</td>
                    <td md-cell>{{frw.source}}</td>
                    <td md-cell>{{frw.destination}}</td>
                    <td md-cell><div ng-repeat="p in frw.permissions">{{p.title}}</div></td>
                    <td md-cell>
                        <md-button class="md-icon-button" ng-click="edit(frw);">
                            <md-icon class="fa fa-lg fa-edit" aria-label="ویرایش"></md-icon>
                        </md-button>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-table-container>

    </md-card>

    <div>
        <md-button type="submit" class="md-raised md-warn" ng-click="edit();" aria-label="add">ایجاد فوروارد جدید</md-button>
    </div>

</div>
