<div role="dialog" aria-label="" layout="column" layout-align="center center" class="rtl" dir="rtl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h4>{{property}}</h4>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="close()">
                <span class="fa fa-lg fa-close" ng-click="close();" aria-label="close"></span>
            </md-button>
        </div>
    </md-toolbar>

    <div class="dialog-panel-content scroll2">
        <table class="simple" cellspacing="0" cellpadding="2">
            <thead>
            <tr>
                <th>خصیصه</th>
                <!--<th>گزاره</th>-->
                <th>الگو</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in items track by $index"
                ng-class="{even: $even, odd: $odd}"
                class="clickable" ng-cloak>
                <td><span>{{property}}</span></td>
                <!--<td><span>{{predicate}}</span></td>-->
                <td><span>{{item.template}}</span></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
