<td ng-if="r.editing">{{$index+1}}</td>
<td ng-if="r.editing" colspan="6">
    <form name="myForm" ng-submit="$event.preventDefault()">
        <div layout="row" dir="rtl" class="rtl right">
            <md-input-container>
                <label>property</label>
                <input type="text" ng-model="r.property" required ng-disabled="true" aria-label="property">
            </md-input-container>

            <md-autocomplete md-input-name="autocompletePredicate"
                             md-selected-item="r.predicate"
                             md-selected-item-change="selectedItemChange(item)"
                             md-search-text="searchPredicate"
                             md-items="item in suggestPredicates(searchPredicate)"
                             md-item-text="item"
                             md-input-minlength="2"
                             md-delay="300"
                             md-require-match
                             ng-required="true"
                             md-floating-label="predicate"
                             required>
                <md-item-template>
                    <span md-highlight-text="searchPredicate" md-highlight-flags="^i">{{item}}</span>
                </md-item-template>
                <!--<div ng-messages="myForm.autocompletePredicate.$error"
                     ng-if="myForm.autocompletePredicate.$touched">
                    <div ng-message="required">مقادیر خواسته شده را وارد کنید</div>
                </div>-->
                <md-not-found>No predicate matching.</md-not-found>
            </md-autocomplete>

            <md-autocomplete md-input-name="autocompleteUnit"
                             md-selected-item="r.unit"
                             md-search-text="searchUnit"
                             md-items="item in suggestUnits(searchUnit)"
                             md-item-text="item | extractLastUrlItem"
                             md-input-minlength="2"
                             md-delay="300"
                             md-require-match
                             md-floating-label="unit">
                <md-item-template>
                    <span md-highlight-text="searchUnit" md-highlight-flags="^i">{{item | extractLastUrlItem}}</span>
                </md-item-template>
                <md-not-found>No unit matching.</md-not-found>
            </md-autocomplete>

            <md-autocomplete md-input-name="autocompleteTransform"
                             md-selected-item="r.transform"
                             md-search-text="searchTransform"
                             md-items="item in suggestTransforms(searchTransform)"
                             md-item-text="item.label"
                             md-input-minlength="2"
                             md-delay="300"
                             md-require-match
                             md-floating-label="transform">
                <md-item-template>
                    <span md-highlight-text="searchTransform" md-highlight-flags="^i">{{item.label}}({{item.transform}})</span>
                </md-item-template>
                <!--<div ng-messages="myForm.autocompleteTransform.$error"
                     ng-if="myForm.autocompleteTransform.$touched">
                    <div ng-message="required">مقادیر خواسته شده را وارد کنید</div>
                </div>-->
                <md-not-found>No transform matching.</md-not-found>
            </md-autocomplete>

            <md-checkbox ng-model="r.valid" aria-label="تایید"></md-checkbox>

            <md-button class="md-icon-button" ng-click="ignore(r)" style="margin-top:15px;" aria-label="ignore">
                <span class="fa fa-2x fa-exclamation-circle" style="color: darkorange;"></span>
            </md-button>
        </div>
        <div>
            <md-button type="submit" aria-label="ذخیره"
                       class="md-raised md-primary"
                       ng-disabled="myForm.$invalid"
                       ng-click="save(r, $index)">ذخیره
            </md-button>

            <md-button class="md-raised" ng-click="cancel(r, $index)" aria-label="انصراف">انصراف</md-button>
        </div>
    </form>
</td>