<div style="min-width: 750px;" class="scroll2">
    <table class="simple" cellspacing="0" cellpadding="5">
        <thead>
        <tr>
            <th>predicate</th>
            <th>constant</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="rule in selectedItem.rules" class="clickable" ng-class="{even: $even, odd: $odd}">
            <td>{{rule.predicate}}</td>
            <td>{{rule.constant}}</td>
        </tr>
        </tbody>
    </table>
    <br>
    <md-divider></md-divider>
    <br>
    <table class="simple" cellspacing="0" cellpadding="5">
        <thead>
        <tr>
            <th>#</th>
            <th>property</th>
            <th>predicate</th>
            <th>unit</th>
            <th>transform</th>
            <th>تایید</th>
            <th style="width: 120px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat='r in selectedItemPropertyRules' ng-include src="'./templates/mappings/template-item-rule.html'"></tr>
        <tr ng-repeat='r in selectedItemPropertyRecommendations' ng-include src="'./templates/mappings/template-item-rule.html'"></tr>
        </tbody>
    </table>
</div>