<td ng-if="!r.editing">{{$index+1}}</td>
<td ng-if="!r.editing">{{r.property}}</td>
<td ng-if="!r.editing">
    <span>{{r.predicate}}</span>
</td>
<td ng-if="!r.editing">
    <span>{{r.unit}}</span>
</td>
<td ng-if="!r.editing">
    <span>{{r.transform}}</span>
</td>
<td ng-if="!r.editing">
    <md-checkbox ng-model="r.valid" ng-disabled="true" aria-label="تایید"></md-checkbox>
</td>
<td ng-if="!r.editing">
    <md-button class="md-icon-button" ng-click="edit(r, $index);" aria-label="ویرایش">
        <md-icon class="fa fa-lg fa-edit"></md-icon>
    </md-button>
</td>