<td ng-if="!r.editing">{{$index+1}}</td>
<td ng-if="!r.editing">
    <span class="fa fa-lg fa-info-circle filter-property button"
          ng-click="filterProperty(r, $event)"></span>
    <span>{{r.property}}</span>
</td>
<td ng-if="!r.editing">
    <span ng-if="!r.predicate.startsWith('fkgo:')">{{r.predicate}}</span>
    <a ng-if="r.predicate.startsWith('fkgo:')" href="http://dmls.iust.ac.ir/pkg/#!/ontology/property/http:~2F~2Ffkg.iust.ac.ir~2Fontology~2F{{r.predicate.replace('fkgo:', '')}}">{{r.predicate}}</a>
</td>
<td ng-if="!r.editing">
    <span>{{r.unit}}</span>
</td>
<td ng-if="!r.editing">
    <span>{{r.transform}}</span>
</td>
<td ng-if="!r.editing">
    <md-checkbox ng-model="r.valid" ng-disabled="true" aria-label="تایید"></md-checkbox>
</td>
<td ng-if="!r.editing">
    <md-button class="md-icon-button" ng-click="edit(r, $index);" aria-label="ویرایش">
        <md-icon class="fa fa-lg fa-edit"></md-icon>
    </md-button>
</td>