<md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <div class="md-title">سیستم گراف دانش فارسی</div>

        <span flex=""></span>
        <span class="fa fa-lg fa-user"></span>
        <h3>({{username}})</h3>
        <md-button ng-click="logout($event)">خروج</md-button>
    </div>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom md-selected="getSelectedTabIndex()">
            <md-tab ui-sref="home.dashboard" label="داشبورد"></md-tab>
            <md-tab ui-sref="home.users" label="کاربران" ng-if="roles.indexOf('User')!==-1"></md-tab>
            <md-tab ui-sref="home.permissions" label="دسترسی‌ها" ng-if="roles.indexOf('Forward')!==-1"></md-tab>
            <md-tab ui-sref="home.forwards" label="فوروارد" ng-if="roles.indexOf('Forward')!==-1"></md-tab>
        </md-tabs>
    </md-content>
</div>
<div ui-view></div>