<md-toolbar class="md-whiteframe-1dp">
    <div class="md-toolbar-tools">
        <div class="md-title">سیستم گراف دانش فارسی</div>

        <span flex=""></span>
        <span class="fa fa-lg fa-user"></span>
        <h3>({{username}})</h3>
        <md-button ng-click="logout($event)">خروج</md-button>
    </div>
</md-toolbar>
<div ng-cloak>
    <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab label="داشبورد">
                <md-content class="md-padding">
                    <div ng-include="'templates/dashboard.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="کاربران" ng-if="roles.indexOf('User')!==-1">
                <md-content class="md-padding">
                    <div ng-include="'templates/users/list.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="دسترسی‌ها" ng-if="roles.indexOf('Forward')!==-1">
                <md-content class="md-padding">
                    <div ng-include="'templates/permissions/list.html'"></div>
                </md-content>
            </md-tab>
            <md-tab label="فوروارد" ng-if="roles.indexOf('Forward')!==-1">
                <md-content class="md-padding">
                    <div ng-include="'templates/forwards/list.html'"></div>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>