<div ng-cloak>
    <div layout-margin>

        <div>
            <h1>{{clazz.faLabel}}<a class="small-text" ui-sref="ontology.class-edit({classUrl:clazz.url})">(ویرایش)</a></h1>
        </div>

        <div>
            <table>
                <tr>
                    <td class="left" style="min-width: 120px;">
                        <h3>نام کلاس : </h3>
                    </td>
                    <td>{{clazz.url | extractClass}}</td>
                </tr>
                <tr>
                    <td class="left" style="min-width: 120px;">
                        <h3>آدرس : </h3>
                    </td>
                    <td><a ui-sref="ontology.class({classUrl:clazz.url})">{{clazz.url}}</a></td>
                </tr>
                <tr>
                    <td class="left" style="min-width: 120px;">
                        <h3>برچسب فارسی : </h3>
                    </td>
                    <td>{{clazz.faLabel}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>برچسب انگلیسی : </h3>
                    </td>
                    <td>{{clazz.enLabel}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>توضیحات فارسی : </h3>
                    </td>
                    <td>{{clazz.faComment}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>توضیحات انگلیسی : </h3>
                    </td>
                    <td class="ltr left">{{clazz.enComment}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>کلاس والد : </h3>
                    </td>
                    <td>
                        <a ui-sref="ontology.class({classUrl:clazz.subClassOf})">{{parent.faLabel}}</a>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>کلاس‌های معادل : </h3>
                    </td>
                    <td>
                        <span ng-repeat="item in property.equivalentClasses">{{item}}{{$last ? '' : ' - '}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>کلاس‌های متناقض : </h3>
                    </td>
                    <td>
                        <span ng-repeat="item in property.disjointWith">{{item}}{{$last ? '' : ' - '}}</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <md-divider></md-divider>

    <div layout-margin>
        <h3>خصیصه‌های کلاس {{clazz.faLabel}}</h3>
        <div>
            <table cellpadding="5" cellspacing="0" style="width: 100%;">
                <thead>
                <tr>
                    <th>#</th>
                    <th>نام</th>
                    <th>برچسب فارسی</th>
                    <th>برچسب انگلیسی</th>
                    <th>کلاس (Domain)</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="p in clazz.properties" ng-class="{even: $even, odd: $odd}">
                    <td>{{$index+1}}</td>
                    <!--<td><span>{{p.url | extractClass}}</span></td>-->
                    <td>
                        <a class="fa fa-1x fa-external-link" target="_blank" ui-sref="ontology.property({propertyUrl:p.url})"></a>
                        <a style="margin-right: 10px;" ui-sref="ontology.property({propertyUrl:p.url})">{{p.url | extractClass}}</a>
                    </td>
                    <td><span>{{p.faLabel}}</span></td>
                    <td><span>{{p.enLabel}}</span></td>
                    <td><div ng-repeat="d in p.domains track by $index">{{d | extractClass}}</div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
