<div>
    <div layout-margin>

        <div>
            <h1>{{property.faLabel}}<a class="small-text" ui-sref="ontology.property-edit({propertyUrl:property.url})">(ویرایش)</a>
            </h1>
        </div>

        <div>
            <table>
                <tr>
                    <td class="left" style="min-width: 160px;">
                        <h3>نام خصیصه : </h3>
                    </td>
                    <td>{{property.name}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>آدرس : </h3>
                    </td>
                    <td><a href="{{property.url}}">{{property.url}}</a></td>
                    <!--<td>{{property.url}}</td>-->
                </tr>
                <tr>
                    <td class="left">
                        <h3>برچسب فارسی : </h3>
                    </td>
                    <td>{{property.faLabel}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>برچسب انگلیسی : </h3>
                    </td>
                    <td>{{property.enLabel}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>سایر عناوین فارسی : </h3>
                    </td>
                    <td><span
                            ng-repeat="b in property.faVariantLabels track by $index">{{b}}{{$last ? '' : ' - '}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>سایر عناوین انگلیسی : </h3>
                    </td>
                    <td>
                        <span ng-repeat="b in property.enVariantLabels track by $index">{{b}}{{$last ? '' : ' - '}}</span>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>دامنه : </h3>
                    </td>
                    <td>
                        <!--<div ng-repeat="d in property.domains track by $index">{{d}}</div>-->
                        <div ng-repeat="d in property.domains track by $index">
                            <a href="http://dmls.iust.ac.ir/pkg/#!/ontology/class/http:~2F~2Ffkg.iust.ac.ir~2Fontology~2F{{d.replace('http://fkg.iust.ac.ir/ontology/', '')}}">{{d}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>محدوده : </h3>
                    </td>
                    <td>
                        <div ng-repeat="r in property.ranges track by $index">{{r}}</div>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>نوع : </h3>
                    </td>
                    <td>
                        <div ng-repeat="pt in property.types track by $index">
                            <a ui-sref="ontology.property({propertyUrl:pt})">{{pt | mapPrefix}}</a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="left">
                        <h3>خصیصه‌های معادل : </h3>
                    </td>
                    <td class="">
                        <div ng-repeat="eq in property.equivalentProperties track by $index">{{eq}}</div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
