<div>
    <div layout-margin>
        <h3>عنوان : {{property.faLabel}}</h3>
        <div ng-if="property.faVariantLabels.length">
            <span>سایر عناوین :</span>
            <span ng-repeat="b in property.faVariantLabels">{{b}}{{$last ? '' : ' - '}}</span>
        </div>

        <h3>عنوان انگلیسی : {{property.enLabel}}</h3>
        <div ng-if="property.enVariantLabels.length">
            <span>سایر عناوین انگلیسی:</span>
            <span ng-repeat="b in property.enVariantLabels">{{b}}{{$last ? '' : ' - '}}</span>
        </div>
    </div>

    <md-divider></md-divider>

    <div layout-margin>
        <h3>ویژگی‌ها : </h3>
        <div>
            <div ng-repeat="p in clazz.properties">
                <span>{{p}}</span>
                <a class="ivh-treeview-node-link fa fa-1x fa-external-link"
                   ui-sref="ontology.property({propertyUrl:p})"></a>
            </div>
        </div>
    </div>
</div>