<h1>
    سامانه مدیریت هستان‌شناسی
</h1>
<div>
    <md-radio-group ng-model="lang" layout="row">
        <md-radio-button value="FA" class="md-primary">فارسی</md-radio-button>
        <md-radio-button value="EN">English</md-radio-button>
    </md-radio-group>
</div>

<md-divider></md-divider>
<div ng-class="{'ltr' : lang=='EN'}">
    <div ivh-treeview="items"
         ivh-treeview-use-checkboxes="false"
         ivh-treeview-expand-to-depth="1">
        <script type="text/ng-template">
            <span ivh-treeview-toggle>
                <span ivh-treeview-twistie></span>
            </span>
            <!--<span class="ivh-treeview-node-label" ivh-treeview-toggle>-->
            <span class="ivh-treeview-node-label">
                <a class="ivh-treeview-node-link"
                   ui-sref="ontology.class({classUrl:node.url})">{{trvw.label(node)}}</a>
            </span>
            <div ivh-treeview-children></div>
        </script>
    </div>
</div>