<h1>
    سامانه مدیریت هستان‌شناسی
</h1>
<div layout="row">
    <md-radio-group ng-model="lang" layout="row">
        <md-radio-button value="FA" class="md-primary">فارسی</md-radio-button>
        <md-radio-button value="EN">English</md-radio-button>
    </md-radio-group>
    <div style="width: 100px"></div>
    <md-radio-group ng-model="type" layout="row">
        <md-radio-button value="SIMPLE" class="md-primary">ساده</md-radio-button>
        <md-radio-button value="GRAPHICAL">گرافیکی</md-radio-button>
    </md-radio-group>
</div>

<md-divider></md-divider>

<div ng-show="type=='SIMPLE'" ng-class="{'ltr' : lang=='EN'}">
    <div layout-margin ng-if="items">
        <md-button class="md-raised md-primary" ng-click="expandAll()">نمایش همه</md-button>
        <md-button class="md-raised md-primary" ng-click="collapseAll()"
                   ng-style="{'background-color': 'green'}">بستن همه</md-button>

<!--
        <md-input-container>
            <label>باز کردن در سطح</label>
            <md-select ng-model="level" ng-change="expandTo(level)">
                <md-option ng-repeat="i in [1,2,3,4,5,6,7,8,9]"><em>{{i}}</em></md-option>
            </md-select>
        </md-input-container>
-->
    </div>
    <div ivh-treeview="items"
         ivh-treeview-use-checkboxes="false"
         ivh-treeview-expand-to-depth="1">
        <script type="text/ng-template">
            <span ivh-treeview-toggle>
                <span ivh-treeview-twistie></span>
            </span>
            <!--<span class="ivh-treeview-node-label" ivh-treeview-toggle>-->
            <span class="ivh-treeview-node-label">
                <a class="ivh-treeview-node-link"
                   ui-sref="ontology.class({classUrl:node.url})">{{trvw.label(node)}}</a>
            </span>
            <div ivh-treeview-children></div>
        </script>
    </div>
</div>

<div ng-show="type=='GRAPHICAL'" style="position: relative; direction: ltr; text-align: left;" dir="ltr">
    <!--<div id="tree-graphical-container" style="position: absolute;left:0; top:0; right: 0; width: 720px;">-->
        <svg id="tree-graphical"></svg>
    <!--</div>-->
</div>

<md-divider ng-if="items"></md-divider >

<div layout-margin="" ng-if="items">
    <a class="fa fa-lg fa-plus green link" ui-sref="ontology.class-edit({classUrl:''})"></a>
    <a class="link" ui-sref="ontology.class-edit({classUrl:''})">افزودن کلاس جدید</a>
</div>