

svg.tree {
  position: absolute;
  top: 40px;
  left: 0;
  height: 100%;
  width: 100%;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font-family: IRANSans-web, Sahel, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;

  &:hover {
    cursor: pointer;
    stroke: dodgerblue;
  }
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}
