<md-content layout-padding>
    <form name="myForm">
        <div>
            <md-input-container class="md-block" flex-gt-sm>
                <label>کلمه‌عبور فعلی</label>
                <input type="password" ng-model="data.currentPassword" required>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>کلمه‌عبور جدید</label>
                <input type="password" ng-model="data.newPassword" required name="pw1" id="pw1">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
                <label>تکرار کلمه عبور جدید</label>
                <input type="password" ng-model="data.newPassword2" required name="pw2" id="pw2" pw-check='pw1'>
            </md-input-container>

        </div>
        <div class='msg-block' ng-show='myForm.$error'>
            <span class='msg-error' ng-show='myForm.pw2.$error.pwmatch'> تکرار کلمه عبور جدید باید با کلمه عبور جدید دقیقا یکسان باشد</span>
        </div>
    </form>

    <section>
        <md-button class="md-raised md-primary" ng-click="save()" aria-label="ذخیره">ذخیره</md-button>
    </section>
</md-content>